@import "../common/Mixins.less";

.products {
	& .products__list {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    flex-wrap: wrap;
	    list-style: none;
	    margin: 0 1.5%;
	    padding: 20px 0;

	    & .products__list__item {
			width: 17%;
			margin: 0 1.5% 20px; 
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    flex-direction: column;
		   	box-sizing: border-box;
		   	padding: 8px;
		   	background: #eee;
		   	text-align: center;

		   	& > div {
		   		flex-grow: 0;
		   	}

		    & .products__list__item__image {
		    	& img {
		    		width: 100%;
		    		max-width: 200px;
		    	}
		    }

		    & .products__list__item__price {
		    	flex-grow: 1;
		    	& p {
		    		font-size: 14px;
		    		line-height: 12px;
		    		color: @color1;
		    		font-weight: bold;
		    	}
		    }
	    }
	}
}

@media (min-width: 1440px) {
	.products {
		& .products__list {
		    margin: 0 1%;

		    & .products__list__item {
				width: 10.5%;
				margin: 0 1% 20px; 
		    }
		}
	}
}

@media (min-width: 1025px) and (max-width: 1440px) {
	.products {
		& .products__list {
		    margin: 0 1%;

		    & .products__list__item {
				width: 14.6%;
				margin: 0 1% 20px; 
		    }
		}
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.products {
		& .products__list {
		    & .products__list__item {
				width: 17%;
		    }
		}
	}
}

@media (min-width: 601px) and (max-width: 768px) {
	.products {
		& .products__list {
		    & .products__list__item {
				width: 22%;
		    }
		}
	}
}

@media (max-width: 600px) {
	.products {
		& .products__list {
		    margin: 0 3%;

		    & .products__list__item {
				width: 46%;
				margin: 0 2% 20px; 
		    }
		}
	}
}

